<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="create_customer" xsi:type="object">Viktoria\GenerateCustomer\Console\CreateCustomer</item>
                <item name="add_default_address" xsi:type="object">Viktoria\GenerateCustomer\Console\AddDefaultAddress</item>
            </argument>
        </arguments>
    </type>
    <type name="\Magento\Customer\Model\EmailNotification">
        <plugin name="disable-email-notification" type="Viktoria\GenerateCustomer\Plugin\EmailNotificationPlugin" sortOrder="1" disabled="false"/>
    </type>
</config>